<h1>Список фильмов</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Продолжительность</th>
      <th>Возрастное ограничение</th>
      <th>Дата выхода</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.duration %> мин</td>
        <td><%= movie.age_rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Назад', root_path, class: 'back-button' %>
<%= link_to 'Добавить новый фильм', new_movie_path, class: 'add-movie' %>
