<h1>Изменить отзыв</h1>

<%= form_with(model: @review, local: true) do |form| %>
  <% if @review.errors.any? %>
    <div>
      <h2>Ошибки:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text">
    <%= form.label :movie_id, "Выберите фильм" %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title, prompt: "Выберите фильм" %>
  </div>

  <div class="text">
    <%= form.label :user_name, "Автор отзыва" %>
    <%= form.text_field :user_name %>
  </div>

  <div class="text">
    <%= form.label :rating, "Оценка" %>
    <%= form.number_field :rating, min: 1, max: 10 %>
  </div>

  <div class="text">
    <%= form.label :review_text, "Отзыв" %>
    <%= form.text_area :review_text, rows: 4 %>
  </div>

  <div class="text">
    <%= form.label :review_date, "Дата просмотра фильма" %>
    <%= form.date_field :review_date %>
  </div>

  <div>
    <%= link_to 'Назад', reviews_path, class: 'button' %>
    <%= form.submit "Сохранить изменения", class: 'button' %>
  </div>
<% end %>